{% extends 'DashboardBundle::layout.html.twig' %}

{% block body -%}
    <h1>Empresa list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Sucursal</th>
                <th>Direccion</th>
                <th>Rut</th>
                <th>Region</th>
                <th>Comuna</th>
                <th>Horarios</th>
                <th>Imagen</th>
                <th>Ubicacionlongitud</th>
                <th>Ubicacionlatitutd</th>
                <th>Isactive</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('empresas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.sucursal }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.rut }}</td>
                <td>{{ entity.region }}</td>
                <td>{{ entity.comuna }}</td>
                <td>{{ entity.horarios }}</td>
                <td>{{ entity.imagen }}</td>
                <td>{{ entity.ubicacionLongitud }}</td>
                <td>{{ entity.ubicacionLatitutd }}</td>
                <td>{{ entity.isActive }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('empresas_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('empresas_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('empresas_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
