{% extends 'DashboardBundle::layout.html.twig' %}

{% block body -%}

    {% include 'DashboardBundle:Default:navegador.html.twig' with {'tabActive': 'empresas' } %}
    <div class="container container-principal">
        <br>
        <div class="well">
            <form action="{{path('empresas')}}" class="form-inline" role="search">
                <div class="form-group row" style="width: 100%;">
                    <label class="col-md-4 text-center">Buscar empresa por: </label>    
                    <div class="input-group col-md-8">
                        <input placeholder="Razon social, Sucursal, RUT" class="form-control" name="buscar"
                               type="text">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-warning" value="Buscar"/>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </form>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">
                    Empresas
                </h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead class="text-center">
                        <tr>
                            <th class="text-center">
                                Logo
                            </th>
                            <th class="text-center">
                                Razon social
                            </th>
                            <th class="text-center">
                                Sucursal
                            </th>
                            <th class="text-center">
                                Manager
                            </th>
                            <th class="text-center">
                                RUT
                            </th>
                            <th class="text-center">
                                Accion
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for empresa in pagination %}  
                            <tr>
                                <td class="text-center">
                                    <img src="{{empresa.thumbnailWebPath}}" alt="{{empresa.nombreCompleto}}" style="max-width: 120px;"
                                </td>
                                <td class="text-center">
                                    {{empresa.nombre}}
                                </td>
                                <td class="text-center">
                                    {{empresa.sucursal}}
                                </td>
                                <td class="text-center">
                                    {{empresa.usuario.nombreCompleto}}
                                </td>
                                <td class="text-center">
                                    {{empresa.rut}}
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="{{ url('empresas_show', { 'id' : empresa.id }) }}" class="btn btn-warning"> Mostar</a>
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ url('empresas_show', { 'id' : empresa.id }) }}">Mostrar</a></li>
                                            <li><a href="{{ url('empresas_edit', { 'id' : empresa.id }) }}">Editar</a></li>
                                            <li class="divider"></li>
                                            <li><a href="javascript: if (confirm('Desea elminar el sueño seleccionado?')) { location.href='{{ url('empresas_delete', { 'id' : empresa.id }) }}';}">Eliminar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <a href="{{ path('empresas_export') }}" class="btn btn-default btn-sm">Exportar</a>
                <a href="{{ path('empresas_new') }}" class="btn btn-warning btn-sm pull-right">Nueva empresa</a>
            </div>
        </div>
        <div class="container">

        </div>
        <div class="container text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
