<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Sucursal
            </th>
            <th>
                Rubro
            </th>
            <th>
                Direccion
            </th>
            <th>
                RUT
            </th>
            <th>
                Region
            </th>
            <th>
                Comuna
            </th>
            <th>
                Horarios
            </th>
            <th>
                Tipos_de_empresa
            </th>
            <th>
                Especialidades
            </th>
            <th>
                Servicios
            </th>
            <th>
                longitud
            </th>
             <th>
                latitud
            </th>
            <th>
                Manager
            </th>
            <th>
                Activo
            </th>
            <th>
                Alta
            </th>
             <th>
                Actualizacion
            </th>
        </tr>
    </thead>
    <tbody>
        {% for empresa in empresas %}
            <tr>
                <td>
                    {{ empresa.nombre }}
                </td>
                <td>
                    {{ empresa.sucursal }}
                </td>
                <td>
                    {{ empresa.rubro }}
                </td>
                <td>
                    {{ empresa.direccion | striptags }}
                </td>
                <td>
                    {{ empresa.rut }}
                </td>
                <td>
                    {{ empresa.region }}    
                </td>
                <td>
                    {{ empresa.comuna }}    
                </td>
                <td>
                    {{ empresa.horarios }}    
                </td>
                <td>
                    {% for tipo in empresa.tipos %}
                        {{ tipo }},
                    {% endfor %}
                </td>
                <td>
                    {% for espe in empresa.especialidades %}
                        {{ espe }},
                    {% endfor %}
                </td>
                <td>
                    {% for serv in empresa.servicios %}
                        {{ serv }},
                    {% endfor %} 
                </td>
                <td>
                    {{ empresa.ubicacionLongitud }}
                </td>
                <td>
                    {{ empresa.ubicacionLatitud }}    
                </td>
                <td>
                    {{ ((empresa.isActive)?'Si':No) }}
                </td>
                <td>
                    {{ empresa.createdAt | date('d-m-Y') }}
                </td>
                <td>
                    {{ empresa.updatedAt | date('d-m-Y') }}
                </td>
            </tr>
        {% endfor %}
    </tbody> 
</table>