{% extends 'DashboardBundle::layout.html.twig' %}

{% block body %}
    {% include 'DashboardBundle:Default:navegador.html.twig' with {'tabActive': 'empresas' } %}
    <h1>Revisa este cliente en simples pasos!</h1>
    <div class="container container-principal">
        <form action="{{ path('empresas_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            <br>
            <div class="panel panel-default">
                <!--div class="panel-heading">
                    <h3 class="panel-title text-center">
                        Nueva empresa (cliente)
                    </h3>
                </div-->
                <div class="panel-body">
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="form-group col-md-6 row">
                            <label class="col-sm-2 control-label">Razon social</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.nombre,{'attr':{'class':'form-control','label':'Razon social','placeholder':'Razon Social'}}) }}
                            </div>
                        </div>
                        <div class="form-group col-md-6 row">
                            <label class="col-sm-2 control-label">Direccion</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.direccion,{'attr':{'class':'form-control','label':'Razon social','placeholder':'Direccion'}}) }}
                            </div>
                        </div>
                        <div class="form-group col-md-6 row">
                            <label class="col-sm-2 control-label">RUT</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.rut,{'attr':{'class':'form-control','label':'Razon social','placeholder':'RUT'}}) }}
                            </div>
                        </div>
                        <div class="form-group col-md-6 row">
                            <label class="col-sm-2 control-label">Region</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.region,{'attr':{'class':'form-control','label':'Razon social','placeholder':'Region'}}) }}
                            </div>
                        </div> 
                        <div class="form-group col-md-6 row">
                            <label class="col-sm-2 control-label">Telefono</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.celular,{'attr':{'class':'form-control','label':'Razon social','placeholder':'Telefono'}}) }}
                            </div>
                        </div> 
                        <div class="form-group col-md-6 row">
                            <label class="col-sm-2 control-label">Comuna</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.comuna,{'attr':{'class':'form-control','label':'Razon social','placeholder':'Comuna'}}) }}
                            </div>
                        </div>   
                    </div>
                    
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Datos generales</a></li>
                            <li role="presentation"><a href="#manager" aria-controls="manager" role="tab" data-toggle="tab">Manager y Servicios</a></li>
                            <li role="presentation"><a href="#ubicacion" aria-controls="ubicacion" role="tab" data-toggle="tab">Ubicacion</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="general">
                                <div class="form-group">
                                    {{ form_row(form.nombre,{'attr':{'class':'form-control','label':'Razon social','placeholder':'Razon Social'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.sucursal,{'attr':{'class':'form-control','placeholder':'Sucursal'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.rubro,{'attr':{'class':'form-control','placeholder':'Rubro'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.direccion,{'attr':{'class':'form-control','placeholder':'Direccion'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.rut,{'attr':{'class':'form-control','placeholder':'RUT'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.region,{'attr':{'class':'form-control','placeholder':'Region'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.comuna,{'attr':{'class':'form-control','placeholder':'Comuna'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.horarios,{'attr':{'class':'form-control','placeholder':'Horarios'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.file,{'attr':{'class':'form-control','placeholder':'Logo'}}) }}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="manager">
                                <div class="form-group">
                                    {{ form_row(form.usuario,{'attr':{'class':'form-control','placeholder':'Manager'}}) }}
                                </div>
                                <div class="form-group">
                                    <label class="checkbox">
                                      {{ form_widget(form.isActive) }}
                                      Activo
                                    </label>
                                </div>
                                <br/>
                                <div class="form-group">
                                    {{ form_row(form.tipos,{'attr':{'class':'form-control','placeholder':'Tipos de empresa'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.especialidades,{'attr':{'class':'form-control','placeholder':'Especialidades'}})  }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.servicios,{'attr':{'class':'form-control','placeholder':'Servicios'}}) }}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="ubicacion">
                                <div class="form-group">
                                    {{ form_row(form.ubicacionLongitud,{'attr':{'class':'form-control','placeholder':'Longitud'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.ubicacionLatitud,{'attr':{'class':'form-control','placeholder':'Latitud'}}) }}
                                </div>
                            </div>
                                      
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{{path('empresas')}}" class="btn btn-primary">Regresar</a>
                    <input type="submit" class="btn btn-warning btn-sm pull-right" name="botonGuardar" id="botonGuardar" value="Guardar"/>
                    {{ form_rest(form) }}
                </div>        
            </div>
            <div class="container">

            </div>
            <div class="container text-center">
            </div>
        </form>
    </div>
{% endblock %}
