<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Usuario
            </th>
            <th>
                Titulo
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Tipo
            </th>
            <th>
                Tipo de Oferta
            </th>
            <th>
                Oferta
            </th>
            <th>
                Tipo de Pago
            </th>
            <th>
                Inicia
            </th>
            <th>
                Termina
            </th>
            <th>
                Sucursales
            </th>
            <th>
                Marcas y Modelos
            </th>
            <th>
                Activo
            </th>
            <th>
                Alta
            </th>
             <th>
                Actualizacion
            </th>
        </tr>
    </thead>
    <tbody>
        {% for oferta in ofertas %}
            <tr>
                <td>
                    {{ oferta.usuario.nombreCompleto }}
                </td>
                <td>
                    {{ oferta.titulo }}
                </td>
                <td>
                    {{ oferta.descripcion | raw }}
                </td>
                <td>
                    {{ oferta.stringTipo }}
                </td>
                <td>
                    {{ oferta.stringTipoOferta }}
                </td>
                <td>
                    {{ oferta.oferta }}
                </td>
                <td>
                    {{ oferta.stringTipoPago }}    
                </td>
                <td>
                    {{ oferta.inicia | date('d-m-Y') }}    
                </td>
                <td>
                    {{ oferta.termina | date('d-m-Y') }}    
                </td>
                <td>
                    {% for sucursal in oferta.sucursales %}
                        {{ sucursal.nombreCompleto }},
                    {% endfor %}
                </td>
                <td>
                    {{ oferta.marcas }}
                </td>
                <td>
                    {{ ((oferta.isActive)?'Si':No) }}
                </td>
                <td>
                    {{ oferta.createdAt | date('d-m-Y') }}
                </td>
                <td>
                    {{ oferta.updatedAt | date('d-m-Y') }}
                </td>
            </tr>
        {% endfor %}
    </tbody> 
</table>