{% extends 'DashboardBundle::layout.html.twig' %}

{% block body -%}

    {% include 'DashboardBundle:Default:navegador.html.twig' with {'tabActive': 'tiposempresa' } %}
    <div class="container container-principal">
        <br>
        <div class="well">
            <form action="{{path('tiposempresa')}}" class="form-inline" role="search">
                <div class="form-group row" style="width: 100%;">
                    <label class="col-md-4 text-center">Buscar por tipo: </label>    
                    <div class="input-group col-md-8">
                        <input placeholder="nombre, apellidos, email" class="form-control" name="buscar"
                               type="text">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-warning" value="Buscar"/>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </form>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">
                    Tipos de empresa
                </h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead class="text-center">
                        <tr>
                            <th class="text-center">
                                Imagen
                            </th>
                            <th class="text-center">
                                Especialidad
                            </th>
                            <th class="text-center">
                                Orden
                            </th>
                            <th class="text-center">
                                Accion
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registro in entities %}  
                            <tr>
                                <td class="text-center">
                                    <img src="{{registro.thumbnailWebPath}}"/>
                                </td>
                                <td class="text-center">
                                    {{registro.nombre}}
                                </td>
                                <td class="text-center">
                                    {{registro.orden}}
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="{{ url('tiposempresa_show', { 'id' : registro.id }) }}" class="btn btn-warning"> Mostar</a>
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{{ url('tiposempresa_show', { 'id' : registro.id }) }}">Mostrar</a></li>
                                            <li><a href="{{ url('tiposempresa_edit', { 'id' : registro.id }) }}">Editar</a></li>
                                            <li class="divider"></li>
                                            <li><a href="javascript: if (confirm('Desea elminar el sueño seleccionado?')) { location.href='{{ url('tiposempresa_delete', { 'id' : registro.id }) }}';}">Eliminar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <a href="{{ path('tiposempresa_new') }}" class="btn btn-warning btn-sm">Nuevo tipo de empresa</a>
            </div>
        </div>
    </div>
{% endblock %}
