{% extends 'DashboardBundle::layout.html.twig' %}

{% block body -%}
    {% include 'DashboardBundle:Default:navegador.html.twig' with {'tabActive': 'tiposempresa' } %}
    <div class="container container-principal">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">
                    Mostrar Tipo de empresa
                </h3>
            </div>
            <div class="panel-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Datos generales</a></li>
                        <li role="presentation"><a href="#sistema" aria-controls="sistema" role="tab" data-toggle="tab">Sistema</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="general">
                            <table class="record_properties table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ entity.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Imagen</th>
                                        <td><img src="{{ entity.thumbnailWebPath }}" /></td>
                                    </tr>
                                    <tr>
                                        <th>Tipo de empresa</th>
                                        <td>{{ entity.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <th>Orden</th>
                                        <td>{{ entity.orden }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="sistema">
                            <table class="record_properties table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Creado</th>
                                        <td>{{ entity.createdAt|date('d-m-Y H:i:s') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Actualizado</th>
                                        <td>{{ entity.updatedAt|date('d-m-Y H:i:s') }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-left">
                    <a href="{{ path('tiposempresa') }}" class="btn btn-primary">
                        Regresar
                    </a>
                    <a href="{{ path('tiposempresa_edit', { 'id': entity.id }) }}" class="btn btn-warning">
                        Editar
                    </a>
                    <span class="pull-right">{{ form(delete_form) }}</span>            

                </div>
            </div>                        
        </div>

        <div class="container text-center">
        </div>
    </div>   
{% endblock %}
