{% extends 'DashboardBundle::layout.html.twig' %}

{% block body %}
    {% include 'DashboardBundle:Default:navegador.html.twig' with {'tabActive': 'servicios' } %}
    <div class="container container-principal">
        <form action="{{ path('servicios_update',{'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
            <input name="_method" value="put" type="hidden"/>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        Editar servicio "{{entity.nombre}}"
                    </h3>
                </div>
                <div class="panel-body">
                    {{ form_errors(form) }}  
                    <div class="form-group">
                        {{ form_widget(form.nombre,{'attr':{'class':'form-control','placeholder':'servicio'}}) }}
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{{path('servicios')}}" class="btn btn-primary">Regresar</a>
                    <input type="submit" class="btn btn-warning btn-sm pull-right" name="botonGuardar" id="botonGuardar" value="Actualizar"/>
                    {{ form_rest(form) }}
                </div>        
            </div>
            <div class="container">

            </div>
            <div class="container text-center">
            </div>
        </form>
    </div>
{% endblock %}
