{% extends 'DashboardBundle::layout.html.twig' %}

{% block body %}
    {% include 'DashboardBundle:Default:navegador.html.twig' with {'tabActive': 'usuarios' } %}

                    <div class="row">
                        <div class="col-lg-12">
                            <div role="tabpanel" style="margin-top:15px;">
                                <!-- Nav tabs -->
                                <ul class="nav nav-pills" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab001" role="tab" data-toggle="tab">Datos generales</a></li>
                                    <li role="presentation"><a href="#tab002" role="tab" data-toggle="tab">Seguridad</a></li>
                                    <li class="pull-right"><a href="{{path('usuarios')}}" class="font-size-12">Cancelar</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab001">
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Nombre:</label>
                                                        <div class="col-sm-9">
                                                            {{ form_widget(form.nombre,{'attr':{'class':'form-control','placeholder':'Nombre'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Apellidos:</label>
                                                        <div class="col-sm-9">
                                                            {{ form_widget(form.apellidos,{'attr':{'class':'form-control','placeholder':'Apellidos'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Celular:</label>
                                                        <div class="col-sm-9">
                                                            {{ form_widget(form.celular,{'attr':{'class':'form-control','placeholder':'Celular'}}) }}
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Fecha de nacimiento:</label>
                                                        <div class="col-sm-9">
                                                            {{ form_widget(form.fechaNacimiento,{'attr':{'class':'form-control','placeholder':'Fecha de nacimiento'}}) }}
                                                        </div>
                                                    </div>    
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Genero:</label>
                                                        <div class="col-sm-9">
                                                            {{ form_widget(form.genero,{'attr':{'class':'form-control','placeholder':'genero'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Region:</label>
                                                        <div class="col-sm-9">
                                                            {{ form_widget(form.region,{'attr':{'class':'form-control','placeholder':'region'}}) }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Comuna:</label>
                                                        <div class="col-sm-9">
                                                            {{ form_widget(form.comuna,{'attr':{'class':'form-control','placeholder':'comuna'}}) }}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab002">
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Email</label>
                                                        <div class="col-sm-9">{{ form_widget(form.email,{'attr':{'class':'form-control','placeholder':'email'}}) }}</div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Password</label>
                                                        <div class="col-sm-9">{{ form_widget(form.password,{'attr':{'class':'form-control','placeholder':'password'}}) }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Grupo</label>
                                                        <div class="col-sm-9">
                                                            {{ form_widget(form.grupo,{'attr':{'class':'form-control','placeholder':'grupo'}}) }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Activo?</label>
                                                        <div class="col-sm-9">
                                                            {{ form_widget(form.isActive,{'attr':{'class':'form-control','placeholder':'region'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2" style="max-width:132px;"></label>
                                    <div class="col-sm-9"><a href="#" data-toggle="modal" data-target="#ACT-guardar" class="btn btn-default active">Guardar</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
