{% extends 'DashboardBundle::layout.html.twig' %}

{% block body -%}
    {% include 'DashboardBundle:Default:navegador.html.twig' with {'tabActive': 'usuarios' } %}
    <div class="container container-principal">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">
                    Mostrar Usuario
                </h3>
            </div>
            <div class="panel-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Datos generales</a></li>
                        <li role="presentation"><a href="#seguridad" aria-controls="seguridad" role="tab" data-toggle="tab">Seguridad</a></li>
                        <li role="presentation"><a href="#sistema" aria-controls="sistema" role="tab" data-toggle="tab">Sistema</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="general">
                            <table class="record_properties table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ entity.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nombre</th>
                                        <td>{{ entity.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <th>Apellidos</th>
                                        <td>{{ entity.apellidos }}</td>
                                    </tr>
                                    <tr>
                                        <th>Imagen</th>
                                        <td>{{ entity.imagen }}</td>
                                    </tr>
                                    <tr>
                                        <th>Celular</th>
                                        <td>{{ entity.celular }}</td>
                                    </tr>
                                    <tr>
                                        <th>Fecha nacimiento</th>
                                        <td>{{ entity.fechaNacimiento|date('d-m-Y') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Genero</th>
                                        <td>{{ entity.stringGenero }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="seguridad">
                            <table class="record_properties table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ entity.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Password</th>
                                        <td>{{ entity.password }}</td>
                                    </tr>
                                    <tr>
                                        <th>Grupo</th>
                                        <td>{{ entity.stringTipoGrupo }}</td>
                                    </tr>
                                    <tr>
                                        <th>Activo?</th>
                                        <td>{{ ((entity.isActive)?'Si':'No') }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="sistema">
                            <table class="record_properties table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Creado</th>
                                        <td>{{ entity.createdAt|date('d-m-Y H:i:s') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Actualizado</th>
                                        <td>{{ entity.updatedAt|date('d-m-Y H:i:s') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Token Celular</th>
                                        <td>{{ entity.tokenCelular }}</td>
                                    </tr>
                                    <tr>
                                        <th>Marca Celular</th>
                                        <td>{{ entity.marcaCelular }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-left">
                    <a href="{{ path('usuarios') }}" class="btn btn-primary">
                        Regresar
                    </a>
                    <a href="{{ path('usuarios_edit', { 'id': entity.id }) }}" class="btn btn-warning">
                        Editar
                    </a>
                    <span class="pull-right">{{ form(delete_form) }}</span>            

                </div>
            </div>                        
        </div>

        <div class="container text-center">
        </div>
    </div>   
{% endblock %}
