<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Orden
            </th>
            <th>
                Pregunta
            </th>
            <th>
                Respuesta
            </th>
            <th>
                Alta
            </th>
             <th>
                Actualizacion
            </th>
        </tr>
    </thead>
    <tbody>
        {% for pregunta in preguntas %}
            <tr>
                <td>
                    {{ pregunta.orden }}
                </td>
                <td>
                    {{ pregunta.pregunta }}
                </td>
                <td>
                    {{ pregunta.respuesta }}
                </td>
                <td>
                    {{ pregunta.createdAt | date('d-m-Y') }}
                </td>
                <td>
                    {{ pregunta.updatedAt | date('d-m-Y') }}
                </td>
            </tr>
        {% endfor %}
    </tbody> 
</table>