{% extends 'DashboardBundle::layout.html.twig' %}

{% block body %}
    
    
    <div class="row">
        <div class="col-md-6">
            <figure class="imagen-responsive text-center" style="margin-top: 10%; margin-bottom: 10%;">
                <img src="{{asset('images/logo.png')}}"/>
            </figure>
        </div>
        <div class="col-md-6">
            <div class="flash-notice alert alert-danger" style="display: none;" id="mensajeError"></div>
            <div class="flash-notice alert alert-success" style="display: none;" id="mensajeExito"></div>
            <div class="contenido-form">
            {% include 'DashboardBundle:Default:formContacto.html.twig' with { 'form': form } %}
            </div>
        </div>
    </div>                        
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/vendor/jquery-1.11.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/vendor/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/plugins.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
           $("#botonLogin").on("click",function(){
               var form = $("#formContacto");
               $.ajax({
                   url: form.attr('action'),
                   data: form.serialize(),
                   dataType: 'json',
                   type: 'POST',
                   success: function(data){
                        if(data.status == 'enviado'){
                            $(".contenido-form").html(data.form);
                            $("#mensajeExito").text(data.message);
                            $("#mensajeExito").fadeIn('fast',function(){
                               setTimeout(function(){
                                   $("#mensajeExito").fadeOut('fast');
                               },2000); 
                            });
                        }else{
                            $("#mensajeError").text(data.message);
                            $("#mensajeError").fadeIn('fast',function(){
                               setTimeout(function(){
                                   $("#mensajeError").fadeOut('fast');
                               },2000); 
                            });
                        }
                   },
                   error: function(){
                       
                   }
               })
           }); 
        });
    </script>     
{% endblock javascripts %}
