<div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-lg-12">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="btn-group">
                      <button type="button" class="btn btn-default {{((tabActive=="usuarios")?"active":"")}} dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Usuarios</button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{{path('usuarios')}}">Listado</a></li>
                        <li><a href="{{path('usuarios_new')}}">Nuevo</a></li>
                        <li><a href="{{path('usuarios_export')}}">Exportar</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default {{((tabActive=="vehiculos")?"active":"")}}  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Vehiculos</button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{{path('vehiculos')}}">Listado</a></li>
                          <li><a href="{{path('vehiculos_new')}}">Nuevo</a></li>
                          <li><a href="{{path('vehiculos_new')}}">Exportar</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default {{((tabActive=="empresas")?"active":"")}} dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Empresas</button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{{path('empresas')}}">Listado</a></li>
                        <li><a href="{{path('empresas_new')}}">Nuevo</a></li>
                        <li><a href="{{path('empresas_export')}}">Exportar</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default {{((tabActive=="ofertas")?"active":"")}} dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ofertas</button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{{path('ofertas')}}">Listado</a></li>
                        <li><a href="{{path('ofertas_new')}}?tipo=5" title="Nuevo banner">+ Banner</a></li>
                        <li><a href="{{path('ofertas_new')}}?tipo=1" title="Nueva Oferta">+ Oferta</a></li>
                        <li><a href="{{path('ofertas_export')}}">Exportar</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default {{((tabActive=="tiposempresa")?"active":"")}}   dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Tipos de Empresa</button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{{'tiposempresa'}}">Listado</a></li>
                          <li><a href="{{'tiposempresa_new'}}">Nuevo</a></li>
                          <li><a href="{{'tiposempresa_export'}}">Exportar</a></li>
                        </ul>
                      </div>

                      <div class="btn-group">
                        <button type="button" class="btn btn-default {{((tabActive=="especialidades")?"active":"")}}   dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Especialidades</button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{{'especialidades'}}">Listado</a></li>
                          <li><a href="{{'especialidades_new'}}">Nuevo</a></li>
                          <li><a href="{{'especialidades_export'}}">Exportar</a></li>
                        </ul>
                      </div>

                      <div class="btn-group">
                        <button type="button" class="btn btn-default {{((tabActive=="servicios")?"active":"")}}   dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Servicios</button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{{'servicios'}}">Listado</a></li>
                          <li><a href="{{'servicios_new'}}">Nuevo</a></li>
                          <li><a href="{{'servicios_export'}}">Exportar</a></li>
                        </ul>
                      </div>

                      <div class="btn-group">
                        <button type="button" class="btn btn-default {{((tabActive=="preguntas")?"active":"")}}   dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Preguntas</button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="{{'preguntas'}}">Listado</a></li>
                          <li><a href="{{'preguntas_new'}}">Nuevo</a></li>
                          <li><a href="{{'preguntas_export'}}">Exportar</a></li>
                        </ul>
                      </div>    
                    
                {% else %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default {{((tabActive=="inicio")?"active":"")}}   dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Preguntas</button>
                        <ul class="dropdown-menu" role="menu">
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default {{((tabActive=="ofertas")?"active":"")}}   dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Mis ofertas</button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{'ofertas'}}">Listado</a></li>
                            <li><a href="{{'ofertas_new'}}">Nuevo</a></li>
                            <li><a href="{{'ofertas_export'}}">Exportar</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default {{((tabActive=="empresas")?"active":"")}}   dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Mis datos</button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{'empresas'}}">Listado</a></li>
                            <li><a href="{{'preguntas_export'}}">Exportar</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default {{((tabActive=="contacto")?"active":"")}}   dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Preguntas</button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{'contactos'}}">Listado</a></li>
                            <li><a href="{{'contactos_new'}}">Nuevo</a></li>
                        </ul>
                    </div>
                {% endif %} 
            </div>
        </div>
    
    