{% extends 'DashboardBundle::layout.html.twig' %}

{% block clase_body %} id="landing" {% endblock %}

{% block body %} 
     <div class="row">
      	<div class="col-sm-12">
        	<h1>Términos y Condiciones</h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque  rhoncus arcu vel purus vulputate ultricies. Integer elementum sapien et  est vestibulum aliquet. Vivamus consectetur fermentum libero. Duis  viverra urna dolor, quis euismod mi placerat id. Pellentesque  sollicitudin finibus ligula. Praesent massa mauris, imperdiet in sodales  vitae, cursus sed erat. Ut cursus blandit lacus sit amet sollicitudin. </p>
                <p> Fusce hendrerit, lorem vel rhoncus iaculis, massa nunc tempor leo, ac  tincidunt purus arcu quis metus. In rhoncus iaculis nisi, id cursus elit  auctor vel. Suspendisse condimentum ac urna a semper. In vel eleifend  lectus. Quisque molestie iaculis augue luctus malesuada. Nunc egestas  tortor ac aliquam dictum. Donec varius, turpis eget vestibulum  hendrerit, diam libero sodales metus, ut tincidunt magna justo quis  nisi. Pellentesque ac risus ullamcorper, viverra orci eget, condimentum  ligula. </p>
                <p> Maecenas vel vehicula risus. In sollicitudin felis at enim ultricies  lobortis. Praesent posuere luctus mi, et varius turpis dapibus sed. Nam  sit amet ornare nunc. In gravida semper turpis, eu ornare leo pulvinar  id. Aliquam at turpis lobortis, pharetra ipsum non, convallis lectus.  Vestibulum commodo blandit feugiat. Aenean ultricies facilisis  vestibulum. Duis ut suscipit ipsum, id tincidunt ante. Nunc non interdum  tortor, eget convallis nulla. Aliquam fringilla volutpat consequat. </p>
                <p> Ut efficitur lacinia bibendum. Praesent suscipit augue eros, a facilisis  tortor semper vitae. Aliquam id massa id est tristique hendrerit. Etiam  pretium ac elit eget egestas. Integer tempor, dui ut ullamcorper  mattis, mauris leo suscipit ipsum, eu viverra neque nibh non nunc.  Integer non ante eu orci blandit aliquam. Ut pulvinar, magna nec  elementum auctor, eros mauris scelerisque est, blandit lobortis enim  ipsum non sem. Donec dapibus ante eget urna ornare, at fermentum nisl  fringilla. Integer imperdiet ex nisi, sit amet malesuada tellus  tincidunt non. </p>
                <p> Donec sodales, lacus sit amet accumsan volutpat, nisl neque luctus arcu,  eget tincidunt quam leo in felis. Nulla nibh tellus, laoreet sit amet  aliquam a, vestibulum eget sem. Curabitur in viverra elit. Morbi  condimentum lorem a quam egestas, ut malesuada ipsum interdum. Proin  tristique ultricies turpis nec scelerisque. Mauris egestas, nisl ac  blandit imperdiet, eros augue scelerisque odio, at pellentesque risus  lectus eu sem. Suspendisse non dictum enim. Praesent in ullamcorper  magna. Morbi volutpat turpis ac turpis semper faucibus. Cras id orci in  mi vulputate consectetur et id dolor. Maecenas congue venenatis mi non  laoreet. Nulla mattis ut ante eu imperdiet. Suspendisse ultricies ex  est, tincidunt fringilla justo sollicitudin id. Nulla est dolor, cursus  eu ultricies eget, malesuada et tellus. </p>
        </div>
      </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown();
            $('.dropdown-menu').find('form').click(function (e) {
                e.stopPropagation();
            });
            
           $("#botonLogin").on("click",function(e){
               e.stopPropagation();
               var form = $("#formLogin");
               $.ajax({
                   url: '{{path('login_check')}}',
                   data: {'_username': $("#username_login").val(), '_password': $("#password_login").val()},
                   dataType: 'json',
                   type: 'POST',
                   success: function(data){
                        if(data.success == true){
                            location.href = '{{path('usuarios')}}';
                        }else{
                            $("#mensajeError").text(data.message);
                            $("#mensajeError").fadeIn('fast',function(){
                               setTimeout(function(){
                                   $("#mensajeError").fadeOut('fast');
                               },2000); 
                            });
                        }
                   },
                   error: function(data){
                       console.log(data);
                       alert("Error");
                   }
               });
           }); 
        });
    </script>     
{% endblock javascripts %}
